body {
	font-family: 'PT sans';
	color: #222;
	-webkit-transition-duration: .1s;
	-moz-transition-duration: .1s;
	-o-transition-duration: .1s;
	-transition-duration: .1s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	background-image: url(../img/vignette.png);
	text-rendering: optimizeLegibility;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1,
h2,
h3 {
	
	text-shadow: 1px 1px 1px #AAA;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1em;
}

canvas {}

.container {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.clock {
	display: inline;
}

#bond-logo {
	position: absolute;
	bottom: 0;
	right: 0;
	float: right;
	clear: both;
}